################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RpgCombatKata
/RpgCombatKata/bin/Debug/netstandard2.0
/RpgCombatKata/obj
/RpgCombatKata.Tests/bin/Debug/netcoreapp3.1
/RpgCombatKata.Tests/obj
/RpgCombatKata.sln.DotSettings.user
/RpgCombatKata.WebApi/obj
/RpgCombat.Application/bin/Debug/netstandard2.0
/RpgCombat.Application/obj
/RpgCombat.Application.Tests/bin/Debug/netcoreapp3.1
/RpgCombat.Application.Tests/obj
/RpgCombat.Domain/bin/Debug/netstandard2.0
/RpgCombat.Domain/obj
/RpgCombat.Domain.Tests/bin/Debug/netcoreapp3.1
/RpgCombat.Domain.Tests/obj
/RpgCombat.Infrastructure/bin/Debug/netstandard2.0
/RpgCombat.Infrastructure/obj
/RpgCombat.Infrastructure.Tests/bin/Debug/netcoreapp3.1
/RpgCombat.Infrastructure.Tests/obj
/RpgCombat.WebApi/bin/Debug/netcoreapp3.1
/RpgCombat.WebApi/obj
/RpgCombat.WebApi.Tests/bin/Debug/netcoreapp3.1
/RpgCombat.WebApi.Tests/obj
/RpgCombat.WebApi/RpgCombat.WebApi.csproj.user
/RpgCombat.WebApi.Controllers.Tests/bin/Debug/netcoreapp3.1
/RpgCombat.WebApi.Controllers.Tests/obj
/RpgCombat.WebApi.Integration.Tests/bin/Debug/netcoreapp3.1
/RpgCombat.WebApi.Integration.Tests/obj
